.slide-content {
  overflow: visible;
}

.bleed {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

ul {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

p {
  margin-bottom: 0px;
}

h1 {
  margin-top: 0px;
}

.controls { 
  position: fixed;
}

/* From TinyLetter */
.email-group input {
    display: inline;
    float: left;
    width: 300px;
    margin-right: 10px;
    min-width: 200px;
    padding: 12px 10px 11px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: none;
}
.email-group .button {
    width: 200px;
    margin: 0;
}

.button {
  background: #3A3A3A;
  color: #FFF;
  display: inline-block;
  white-space: nowrap;
  height: 42px;
  line-height: 42px;
  margin-right: 5px;
  padding: 2 22px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.button:hover {
    opacity: .8;
}

/* End TinyLetter */